@import '@/assets/style/colors.scss';

.filtersContent {
  margin-bottom: 24px;
  text-align: center;
  
  .countFiltersContent {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .count {
      span {
        color: $grey;
      }
    }
  
    .filters {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  
      .orders {
        display: flex;
        align-items: center;
        margin: 12px 0;
      }
  
      .favorites {
        display: flex;
        align-items: center;
      }
  
      span {
        color: $red;
        margin-left: 12px;
      }
    }
  }
}